<template name="heroUnit">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="jumbotron">
                    <h1>Welcome to biper</h1>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores aspernatur deserunt eaque fugiat, illo iure libero minus nisi numquam odit placeat porro quasi quis, reprehenderit rerum sequi tempore voluptatem voluptatibus.</p>
                </div>
            </div>
        </div>
    </div>
</template>
